@media screen and (max-width: 600px) {
  
    .input-travel-info{
        flex-direction: column;
    }
    .banner-section{
        width: 90%;
        height: auto;
    }
    .banner-sec-div h1{
        font-size: 1.5rem;
    }



    /* populer section starts here */
    
    .popular-tour-div{
        width: 90%;
        flex-direction: column;
    }

    .popular-tour-text{
        width: 100%;
        margin-bottom: 24px;
    }

    .popular-tour-img{
        width: 100%;
        
    }

    .pupular-tour-section{
        width: 90% auto;
    }

    /* Destination sector starts here */

    .destination h2 {
        font-size: 1.5rem;
    }

    .img-container {
        display: block;
    }

    



    /* choose section starts here */
    
    .choose-service{
        flex-direction: column;
    }

    .service-1, .service-2 ,.service-3{
        width: 90%;
    }

    .choose-text h2{
        font-size: 1.5rem;
    }
    .choose-text p{
        font-size: .8rem;
        
    }



    /* footer section starts here */
   
    footer{
       height: 309px;
    }

    .footer-logo h3{
        font-size: 1.5rem;
    }
    .footer-logo p{
        font-size: .8rem;
    }

    .footer-hr {
        
        margin-bottom: 20px;
        margin-top: 20px;
        
    }

}