* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
}

.primary-span {
    color: #FF5400;
    
}

.button-primary {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    color: #FFF;
    background: #FF5400;
    border: none;
}

.primary-h2{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

/* navigation part starts here */

header {
    
    width: 81%;
    margin: 20px auto;
}

.site-logo-name {
    display: flex;
    align-items: center;
    gap: 16px;
}

.site-name {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.list ul {
    list-style: none;
    display: flex;
    gap: 44px;
}

.list a {
    text-decoration: none;
}

.nav-part nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-part .list ul>li>a {
    color: var(--Dark-02, #424247);
}

/* banner section part starts here */

.banner-section {
    width: 81%; 
    margin: 50px auto;
    border-radius: 16px;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-travel-info {
    display: flex;
}

.banner-section .input-travel-info {
    display: flex;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-section  input {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.banner-sec-div {
    
    width: 60%;
}

.banner-sec-div h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.banner-sec-div p {

    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
   
    margin-top: 24px;
    margin-bottom: 48px;
}

.banner-section select {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
   text-align: center;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    margin-right: 15px;
}

.travel-info > button {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


/* popular tour section starts here */


.pupular-tour-section{
    width: 81%; 
    margin: 50px auto;
}

.pupular-tour-section .popular-tour-div{
    display: flex;
    justify-content: space-between;
}

.popular-tour-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 47%;
    
    justify-content: space-between;
}

.popular-tour-img{
    
    width: 47%;
}

.popular-tour-img img{
    width: 100%;
    height: 100%;
}

.popular-tour-text > ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.popular-tour-text p, li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;

}
.popular-tour-text button{
    width: 174px;

}

/* Destination section starts here */

.destination-section{
    width: 82%;
    margin: 50px auto;
}

.destination-section .country-img{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grit-item-1{
    grid-column: 1/span 6;
}
.grit-item-2{
    grid-column: 7/span 13;
}


/* perfect place section started here */

.perfect-place-section{
    width: 81%; 
    margin: 50px auto;
}

.perfect-place-div{
    display: flex;
    justify-content: space-between;
}